.button {
  display: block;
  border: none;
  cursor: pointer;

  &-primary {
    color: #fff;
    text-align: center;
    font-size: 16px;
    line-height: 27px;
    font-weight: 700;

    font-family: Cinzel;

    background-color: $red-main-color;

    height: 56px;
    width: 100%;

    @include onTablet {
      margin: 0 auto;
      max-width: 296px;
    }
    @include onDesktop {
      max-width: 324px;
    }

    transition: all 0.3s;

    &:hover {
      background: #ae1c23;
    }
    &:active {
      background: #eb343d;
    }
  }

  &--width {
    @include onDesktop {
      max-width: 411px;
    }
  }
}
