.contact-us {
  &__content {
    @include onTablet {
      display: flex;
      justify-content: space-between;
    }
  }

  &__content-info {
    @include onDesktop {
      display: flex;
    }
  }

  &__title {
    width: fit-content;
    margin: 0 auto 48px auto;
  }
  &__content-info {
    width: 100%;
    max-width: 237px;
  }

  &__content-address {
    margin: 0 0 48px 0;
  }

  &__sub-title {
    margin: 0 0 16px 0;

    color: #161616;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
  }

  &__text {
    margin: 0 0 4px 0;

    color: #161616;
    font-size: 14px;
    line-height: 27px;

    @include onDesktop {
      width: 237px;
    }
  }

  &__link {
    display: block;
    color: #3e3e3e;
    font-weight: 700;
    line-height: 140%;

    &:not(:last-of-type) {
      margin: 0 0 8px 0;
    }
  }
}
