.footer {
  background-image: url(../images/footer-image.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  height: 180px;

  @include onTablet {
    height: 411px;
  }
}
